.container{
    background-color:#373C45;
    display: flex;
    width: 100%;
    justify-content: center;
}
img{
    box-shadow: black;
    border-color:#11151A;
    width: 150px;
    height: 180px;
  
   border-radius: 50%;
}
h4{
  color: aliceblue;
  text-align: center;

}
.vamshi{
    background-color: black;
    margin:20px;
    padding: 30px;
}