
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
.vamshi{
    display: flex;
    flex-direction: row;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
ul{
	display: flex;
}
p {
	color: black;
	font-size: 1.4rem;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}

#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 10px;
}
#services .services {
	flex-direction: column;
	padding-top: 50px ;
    text-align: center;
}
#services .services h1{
    font-size: 60px;
}
#services .services p{
    font-size: 20px;
    padding: 30px;
}
#services .service-bottom {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
#services h2{
    font-size: 50px;
}
#services .service-bottom .vamshi{
    display: flex;
}
#services .service-vamshi {
	display: flex;
	
	flex-wrap: wrap;
	
}

#services .service-item {
	flex-basis: 80%;
	display: flex;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	margin: 10px 5%;
	position: relative;
	overflow: hidden;
}
#services .service-item img{
    border-radius: 50%;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}

#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
}
#services .service-item p {
	color: white;
}

.vijay{
    text-align:center;
}
.vijay p{
    font-size: 20px;
    padding: 30px;
}
.vijay img{
   border-radius: 50%;
   height: 80px;
}
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer p {
	color: white;
	
}

@media only screen and (min-width: 768px) {
	

}
	
@media only screen and (min-width: 1200px) {
	

	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}

}

