

.logo img{
 width:200px;
}
.menu a{
	text-decoration: none;
	color: rgb(10, 3, 3);
}
.menu{
display: flex;
align-items:center;
}
#header .navbar {
	width: 95%;
	display: flex;	
	background-color: white;
	justify-content:space-between;
 position: fixed;
}
.navbar{
	align-items: center;
}
#services .services {
	padding-top: 50px ;
    text-align: center;
}
.service-bottom{
	font-size: 20px;
	justify-content: center;
	display: flex;
}
.sub{
	width:50%;
}
 .service-top h1{
	font-family:Playfair display;
    font-size: 50px;
	
}
 .brand{
  display: flex;
  align-items: center;
 }
.facilio{
	display:flex;
	justify-content: center;
   
}
.row{
	justify-content: center;
}
.line h2{
	margin-left: 190px;
	font-size: 30px;
}
.card-1{
	background-color: #ffdc5a ;
	max-width: 300px;
	height: 150px;
	margin: 10px;
	border-radius: 10px;
	flex: -1;
	text-align: center;
	padding: 30px;
}
.card-2{
	background-color: #5afffb;
	max-width: 300px;
	height: 150px;
	margin: 10px;
	border-radius: 10px;
	flex: -1;
	text-align: center;
	padding: 30px;
}

.card-3{
	background-color:#c9fd6a ;
	max-width: 300px;
	height: 150px;
	margin: 10px;
	border-radius: 10px;
	flex: -1;
	text-align: center;
	padding: 30px;
}
.note-1{
	background-color:#ff7cef;
	flex: 1;
	max-width: 400px;
	height: 150px;
	margin:10px;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
}
.note-2{
	background-image: linear-gradient( to left, #d16ba5, #ef7386, #f78867, #eaa651, #ccc452, #b4d465, #98e281, #76eea3, #69f2b9, #5ff6cd, #5bf9e0, #5ffbf1 );
	flex: -1;
	width: 450px;
	height: 150px;
	margin:10px;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
}

.vijay{
    text-align:center;
}
.vijay p{
	font-size: 25px;
}

.vijay img{
   border-radius: 50%;
   height: 80px;
}
.shop{

	padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    background-color:#131415;
    height: auto;
	text-decoration: none;
}
.shops img{
width: 200px;
background-color: aliceblue;
margin-bottom: 50px;
margin-left: 150px;
}
.row{
	display: flex;
	
}
.footer {
    flex-direction: column;
	justify-content: space-evenly;
}
.foot a{
	text-decoration: none;
	color: azure;
	
}
.foot p{
    color:#49494A;
}
.position{
	display: flex;
	padding: 10px;
	position:fixed;
	right:0px;
	bottom: 0px;
}
.posion{
	border:1px solid black;
	width:200px;
	height:60px;
	text-align: center;
	background-color: white;

}
.class img{
	width:80px;
	height:50px;
	border-radius: 50%;
	border: 4px solid red;
}
.social img{
	width:80px;
	height:40px;
}
.social{
	padding: 30px;
	color:#49494A ;
	margin-left:150px;
}

@media only screen and (max-width: 768px) {
	.menu{
		display: none;
	}
	
    .card-1{
		flex:100%;
		max-width: 400px;
	}
	.card-2{
		flex:100%;
		max-width: 400px;
	}
	.card-3{
		flex:100%;
		max-width: 400px;
	}
	.note-1{
		flex:100%;
		max-width: 400px;
	}
	.note-2{
		flex:100%;
		max-width: 300px;
	}
	.row{
		display: block;
	}
	.facilio{
		margin: auto;
	}
	.social{
		display: block;
		margin-left: 30px;
	}
	.shops img{
        margin-left: 70px;
	}
	.footer{
		flex-direction: column;
		margin-left: 30px;
	}
	ul{
		flex-direction: column;
		display: flex;
	}


}
	
@media only screen and (min-width:1000px) {
	
.menu{
	display: block;
}
#header .nav-list ul li a {
	font-size: 1.8rem;
}

.footer{
	display: flex;
	flex-direction: row;
}

	ul{
		flex-direction: column;
		display: flex;
	}



}

